{% extends 'base.html.twig' %} {% block title %}-Whishlist your favorite AllGames{% endblock %} {% block body %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      src="{{ asset('images/logo-jobiz.png') }}"
      alt="AllGames"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">About AllGames</h1>
      <p class="leading-relaxed mb-8">
        We’re dedicated to connecting gamers with the titles they love. Our mission is to simplify how you discover, wishlist, and track the
        best games across all genres and platforms. Whether you’re an avid collector or seeking your next favorite pastime, we’re here to
        help you explore new adventures and get the most out of your gaming journey.
      </p>
    </div>
  </div>
</section>
{% endblock %}