{% extends 'base.html.twig' %} {% block title %}-Whishlist your favorite AllGames{% endblock %} {% block body %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      src="{{ asset('images/logo-jobiz.png') }}"
      alt="AllGames"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">About Jobiz</h1>
      <p class="leading-relaxed mb-8">
        Jobiz is an online job portal that connects job seekers with employers across various industries. The Jobiz job application process is designed to be simple and user-friendly:

        Create an Account – Sign up using your email or social media.
        
        Build Your Profile – Add your resume, skills, and job preferences.
        
        Search for Jobs – Browse listings by location, category, or keywords.
        
        Apply Instantly – Click "Apply" on any job you like, and your profile gets sent directly to the employer.
        
        Track Your Applications – Get updates on the status of each application within your dashboard.
        
        Jobiz helps candidates find the right job faster, and allows companies to discover top talent with ease.
      </p>
    </div>
  </div>
</section>
{% endblock %}