{% extends 'base.html.twig' %}

{% block title %} Job List!{% endblock %}

{% block body %}
<section class="text-gray-400 bg-gray-900 body-font container px-5 py-14 mx-auto"> 
    <div class="container px-5 py-24 mx-auto"> 
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4"> 
            {% for job in jobs %}
                {% include 'job/_job_item.html.twig' with {'job': job} %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

